* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 0;
}

.container {
  padding: 50px 150px;
}

.hamburger-menu {
  display: none;
}

.navbar-container {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linksItems {
  margin: 0 10px;
}

.linksItemsTags {
  color: #1F1534;
  text-decoration: none;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  margin: 20px 0;
}

.linksItemsTags:focus {
  font-weight: 700;
}

.bg-img-element {
  position: relative;
  background-repeat: no-repeat;
  background-image: url("../../src/assets/element.png");
  left: 0;
}

.health {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}

.healthCare {
  margin-top: 100px;
  width: 40%;
}

.healthImage {
  width: 55%;
}

.healthImg {
  width: 100%;
  object-fit: cover;
}

.virtualTextPart {
  margin-top: 25px;
}

.virtualText {
  font-style: normal;
  mix-blend-mode: normal;
  font-weight: 300;
  line-height: 30px;
  color: #7D7987;
  mix-blend-mode: normal;
  font-size: 21px;
  line-height: 32px;
}

.virtual {
  font-style: normal;
  mix-blend-mode: normal;
  font-weight: 700;
  line-height: 56px;
  color: #000000;
  font-size: 48px;
}

.buttonConsult {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #458FF6;
  border-radius: 55px;
  border: none;
  width: 150px;
  height: 50px;
  margin-top: 25px;
}

.buttonDownlaod {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #458FF6;
  border-radius: 55px;
  border: none;
  width: 150px;
  height: 50px;
  margin-top: 25px;
  background-color: #fff;
  border: 1px solid #458FF6;
  color: #458FF6;
}

.button {
  border: none;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 60px;
  mix-blend-mode: normal;
  background-color: transparent;
  cursor: pointer;
}

.button-download {
  border: none;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 60px;
  mix-blend-mode: normal;
  background-color: transparent;
  cursor: pointer;
  color: #458FF6;
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 30px;
}

.serviceHeader, .serviceHeader-review {
  font-style: normal;
  mix-blend-mode: normal;
  font-weight: 700;
  line-height: 56px;
  color: #000000;
  font-size: 36px;
}

.line, .line-review {
  width: 56px;
  height: 2px;
  background: #000000;
  border-radius: 5px;
}

.serviceTextPart {
  font-style: normal;
  mix-blend-mode: normal;
  font-weight: 300;
  line-height: 30px;
  color: #7D7987;
  mix-blend-mode: normal;
  font-size: 18px;
  text-align: center;
}

.bg-img {
  background-image: url("../../src/assets/vector.png");
  position: relative;
  background-repeat: no-repeat;
}

.blogs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

.card, .card-health {
  margin-bottom: 10px;
  width: 32%;
  height: 354px;
  background: #FFFFFF;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  width: 32%;
}
.card-section {
  padding: 0px 30px;
  margin-top: 25px;
}
.card-section img {
  height: 90px;
}

.card-health {
  height: 450px;
}
.card-health-section-health_image {
  height: 200px;
}
.card-health-section-health_image img {
  height: 100%;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.card-health-section-health {
  padding: 0px 30px;
  margin-top: 25px;
}
.card-health-section-health h3 {
  line-height: 32px;
}

.searchDoctor {
  font-style: normal;
  mix-blend-mode: normal;
  font-weight: 700;
  line-height: 56px;
  color: #000000;
  font-size: 24px;
}

.searchParag, .searchParagTag {
  font-style: normal;
  mix-blend-mode: normal;
  font-weight: 300;
  line-height: 30px;
  color: #7D7987;
  mix-blend-mode: normal;
  font-size: 16px;
  line-height: 28px;
}

.searchParagTag {
  font-style: normal;
  mix-blend-mode: normal;
  font-weight: 300;
  line-height: 30px;
  color: #7D7987;
  mix-blend-mode: normal;
  color: #458FF6;
  cursor: pointer;
}

.buttonDownlaodMore {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-middle {
  width: 56px;
  height: 2px;
  background: #000000;
  border-radius: 5px;
  height: 2px;
  margin-top: 30px;
}

.review {
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24px;
  width: 100%;
  padding: 10px 0;
}

.reviewPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  margin-bottom: 100px;
}

.serviceHeader-review {
  color: #fff;
}

.line-review {
  background-color: #fff;
}

.avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  width: 50%;
}
.avatar-image {
  width: 200px;
  height: 200px;
  border: 5px solid #fff;
  border-radius: 50%;
}
.avatar-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}
.avatar-text h3 {
  font-style: normal;
  mix-blend-mode: normal;
  font-weight: 300;
  line-height: 30px;
  color: #7D7987;
  mix-blend-mode: normal;
  line-height: 48px;
  font-size: 22px;
  font-weight: 700;
  color: #FFFFFF;
}
.avatar-text .avatarText, .avatar-text .reviewText p, .reviewText .avatar-text p {
  font-style: normal;
  mix-blend-mode: normal;
  font-weight: 300;
  line-height: 30px;
  color: #7D7987;
  mix-blend-mode: normal;
  line-height: 48px;
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
}

.reviewText {
  width: 50%;
}
.reviewText p {
  font-style: normal;
  mix-blend-mode: normal;
  font-weight: 300;
  line-height: 30px;
  color: #7D7987;
  mix-blend-mode: normal;
  font-size: 19px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
}

.footer {
  width: 100%;
  padding: 10px 0;
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}

.footerComponent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}
.list img {
  width: 100%;
  object-fit: cover;
}
.list-footer_items {
  margin: 15px 0;
  font-style: normal;
  mix-blend-mode: normal;
  font-weight: 300;
  line-height: 30px;
  color: #7D7987;
  mix-blend-mode: normal;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
.list-footer_items h3 {
  font-size: 20px;
}

@media screen and (min-width: 992px) and (max-width: 1350px) {
  .healthImage {
    margin-top: 50px;
  }
  .card-section img {
    height: 50px;
  }
  .searchDoctor {
    font-size: 20px;
    line-height: 36px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    padding: 50px 100px;
  }
  .mainLinks {
    display: none;
  }
  .navbar {
    position: relative;
  }
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: #1abc9c;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    z-index: 2;
    position: absolute;
    top: 45px;
    right: 150px;
  }
  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    margin: 4px;
    width: 15px;
    height: 2.5px;
    background-color: #fff;
  }
  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }
  .linksTags {
    display: flex;
    flex-direction: column;
  }
  .navbar-container {
    padding: 20px 0;
    max-width: 100%;
    transition: transform 300ms ease-in-out;
    position: relative;
    z-index: 1;
  }
  .hamburger-menu:has(input:checked) + .navbar-container {
    display: block;
  }
  .tags {
    color: #1F1534;
    text-decoration: none;
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    margin: 20px 0;
  }
  .health {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .health .virtual {
    text-align: center;
  }
  .health .virtualText {
    text-align: center;
  }
  .healthCare {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .healthImage {
    width: 100%;
    margin-top: 25px;
  }
  .card, .card-health {
    margin-bottom: 10px;
    width: 32%;
    height: 354px;
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    width: 48%;
  }
  .card-section {
    padding: 0px 30px;
    margin-top: 25px;
  }
  .card-section img {
    height: 50px;
  }
  .searchDoctor {
    font-size: 20px;
    line-height: 36px;
  }
  .reviewPart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reviewPart .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .reviewPart .avatar .avatar-text h3 {
    text-align: center;
  }
  .reviewPart .avatar .avatar-text p {
    text-align: center;
  }
  .reviewPart .reviewText {
    width: 100%;
  }
  .reviewPart .reviewText P {
    text-align: center;
  }
  .card-health {
    width: 48%;
    height: 480px;
  }
  .card-health-section-health_image {
    height: 150px;
  }
  .card-health-section-health h3 {
    line-height: 26px;
  }
  .footerComponent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .container {
    padding: 50px 100px;
  }
  .mainLinks {
    display: none;
  }
  .navbar {
    position: relative;
  }
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: #1abc9c;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    z-index: 2;
    position: absolute;
    top: 45px;
    right: 150px;
  }
  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    margin: 4px;
    width: 15px;
    height: 2.5px;
    background-color: #fff;
  }
  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }
  .linksTags {
    display: flex;
    flex-direction: column;
  }
  .navbar-container {
    padding: 20px 0;
    max-width: 100%;
    transition: transform 300ms ease-in-out;
    position: relative;
    z-index: 1;
  }
  .hamburger-menu:has(input:checked) + .navbar-container {
    display: block;
  }
  .tags {
    color: #1F1534;
    text-decoration: none;
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    margin: 20px 0;
  }
  .health {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .health .virtual {
    text-align: center;
  }
  .health .virtualText {
    text-align: center;
  }
  .healthCare {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .healthImage {
    width: 100%;
    margin-top: 25px;
  }
  .card, .card-health {
    margin-bottom: 10px;
    width: 32%;
    height: 354px;
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    width: 48%;
  }
  .card-section {
    padding: 0px 30px;
    margin-top: 25px;
  }
  .card-section img {
    height: 50px;
  }
  .searchDoctor {
    font-size: 20px;
    line-height: 36px;
  }
  .reviewPart {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reviewPart .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .reviewPart .avatar .avatar-text h3 {
    text-align: center;
  }
  .reviewPart .avatar .avatar-text p {
    text-align: center;
  }
  .reviewPart .reviewText {
    width: 100%;
  }
  .reviewPart .reviewText P {
    text-align: center;
  }
  .card-health {
    width: 48%;
    height: 450px;
  }
  .card-health-section-health_image {
    height: 150px;
  }
  .card-health-section-health h3 {
    line-height: 20px;
    font-size: 18px;
  }
  .footerComponent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .service h2 {
    text-align: center;
    font-size: 24px;
  }
}
@media screen and (max-width: 600px) {
  .container {
    padding: 50px 50px;
  }
  .mainLinks {
    display: none;
  }
  .navbar {
    position: relative;
  }
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: #1abc9c;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    z-index: 2;
    position: absolute;
    top: 45px;
    right: 150px;
    right: 50px;
    top: 45px;
  }
  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    margin: 4px;
    width: 15px;
    height: 2.5px;
    background-color: #fff;
  }
  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }
  .linksTags {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar-container {
    padding: 20px 0;
    max-width: 100%;
    transition: transform 300ms ease-in-out;
    position: relative;
    z-index: 1;
  }
  .hamburger-menu:has(input:checked) + .navbar-container {
    display: block;
  }
  .tags {
    color: #1F1534;
    text-decoration: none;
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    margin: 20px 0;
  }
  .health {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .health .virtual {
    text-align: center;
  }
  .health .virtualText {
    text-align: center;
  }
  .healthCare {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .healthImage {
    width: 100%;
    margin-top: 25px;
  }
  .card, .card-health {
    margin-bottom: 10px;
    width: 32%;
    height: 354px;
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    width: 100%;
  }
  .card-section {
    padding: 0px 30px;
    margin-top: 25px;
  }
  .card-section img {
    height: 50px;
  }
  .searchDoctor {
    font-size: 20px;
    line-height: 36px;
  }
  .service h2 {
    text-align: center;
    font-size: 22px;
  }
  .reviewPart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }
  .reviewPart .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .reviewPart .avatar .avatar-text h3 {
    text-align: center;
  }
  .reviewPart .avatar .avatar-text p {
    text-align: center;
  }
  .reviewPart .reviewText {
    width: 100%;
  }
  .reviewPart .reviewText P {
    text-align: center;
  }
  .card-health {
    width: 100%;
    height: 480px;
  }
  .card-health-section-health_image {
    height: 150px;
  }
  .card-health-section-health h3 {
    line-height: 26px;
  }
  .footerComponent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
@font-face {
  font-family: "Mulish-Light";
  src: url(../fonts/static/Mulish-Light.ttf) format("woff2");
}
@font-face {
  font-family: "Mulish-Medium";
  src: url(../fonts/static/Mulish-Medium.ttf) format("woff2");
}
@font-face {
  font-family: "Mulish-Regular";
  src: url(../fonts/static/Mulish-Regular.ttf) format("woff2");
}
@font-face {
  font-family: "Mulish-Bold";
  src: url(../fonts/static/Mulish-Bold.ttf) format("woff2");
}
.mulish-light {
  font-family: "Mulish-Light", sans-serif;
}

.mulish-medium {
  font-family: "Mulish-Medium", sans-serif;
}

.mulish-regular {
  font-family: "Mulish-Regular", sans-serif;
}

.mulish-bold {
  font-family: "Mulish-Bold", sans-serif;
}

/*# sourceMappingURL=style.css.map */
