* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 0;
}

body {
  background: #E5E5E5;
}

.container {
  padding: 50px 150px;
}

.hamburger-menu {
  display: none;
}

.navbar-container {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linksItems {
  margin: 0 10px;
}

.linksItemsTags {
  color: #1F1534;
  text-decoration: none;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  margin: 20px 0;
}

.linksItemsTags:focus {
  font-weight: 700;
}

.health {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.healthCare {
  margin-top: 100px;
  width: 40%;
}

.healthImage {
  width: 55%;
}

.healthImg {
  width: 100%;
  object-fit: cover;
}

.virtualTextPart {
  margin-top: 25px;
}

.virtualText {
  font-style: normal;
  mix-blend-mode: normal;
  font-weight: 300;
  line-height: 30px;
  color: #7D7987;
  mix-blend-mode: normal;
  font-size: 21px;
  line-height: 32px;
}

.virtual {
  font-style: normal;
  mix-blend-mode: normal;
  font-weight: 700;
  line-height: 56px;
  color: #000000;
  font-size: 48px;
}

.buttonConsult {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #458FF6;
  border-radius: 55px;
  border: none;
  width: 150px;
  height: 50px;
  margin-top: 25px;
}

.buttonDownlaod {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #458FF6;
  border-radius: 55px;
  border: none;
  width: 150px;
  height: 50px;
  margin-top: 25px;
  background-color: #fff;
  border: 1px solid #458FF6;
  color: #458FF6;
}

.button {
  border: none;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 60px;
  mix-blend-mode: normal;
  background-color: transparent;
  cursor: pointer;
}

.button-download {
  border: none;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 60px;
  mix-blend-mode: normal;
  background-color: transparent;
  cursor: pointer;
  color: #458FF6;
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 30px;
}

.serviceHeader {
  font-style: normal;
  mix-blend-mode: normal;
  font-weight: 700;
  line-height: 56px;
  color: #000000;
  font-size: 36px;
}

.line {
  width: 56px;
  height: 2px;
  background: #000000;
  border-radius: 5px;
}

.serviceTextPart {
  font-style: normal;
  mix-blend-mode: normal;
  font-weight: 300;
  line-height: 30px;
  color: #7D7987;
  mix-blend-mode: normal;
  font-size: 18px;
  text-align: center;
}

.bg-img {
  background-image: url("../../src/assets/vector.png");
  position: relative;
  background-repeat: no-repeat;
}

.blogs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  margin-bottom: 10px;
  width: 32%;
  height: 354px;
  background: #FFFFFF;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}
.card-section {
  padding: 0px 30px;
  margin-top: 25px;
}
.card-section img {
  height: 90px;
}

.card-health {
  margin-bottom: 10px;
  width: 32%;
  height: 354px;
  background: #FFFFFF;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  height: 450px;
}
.card-health-section-health_image {
  height: 200px;
  border: none;
}
.card-health-section-health_image img {
  height: 100%;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.card-health-section-health {
  padding: 0px 30px;
  margin-top: 25px;
}
.card-health-section-health h3 {
  line-height: 32px;
}

.searchDoctor {
  font-style: normal;
  mix-blend-mode: normal;
  font-weight: 700;
  line-height: 56px;
  color: #000000;
  font-size: 24px;
}

.searchParag {
  font-style: normal;
  mix-blend-mode: normal;
  font-weight: 300;
  line-height: 30px;
  color: #7D7987;
  mix-blend-mode: normal;
  font-size: 16px;
  line-height: 28px;
}

.buttonDownlaodMore {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .mainLinks {
    display: none;
  }
  .navbar {
    position: relative;
  }
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: #1abc9c;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    z-index: 2;
    position: absolute;
    top: 40px;
    right: 150px;
  }
  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    margin: 4px;
    width: 15px;
    height: 2.5px;
    background-color: #fff;
  }
  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }
  .linksTags {
    display: flex;
    flex-direction: column;
  }
  .navbar-container {
    padding: 20px 0;
    max-width: 100%;
    transition: transform 300ms ease-in-out;
    position: relative;
    z-index: 1;
  }
  .hamburger-menu:has(input:checked) + .navbar-container {
    display: block;
  }
  .tags {
    color: #1F1534;
    text-decoration: none;
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    margin: 20px 0;
  }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .container {
    padding: 50px 100px;
  }
  .mainLinks {
    display: none;
  }
  .navbar {
    position: relative;
  }
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: #1abc9c;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    z-index: 2;
    position: absolute;
    top: 40px;
    right: 150px;
    right: 100px;
  }
  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    margin: 4px;
    width: 15px;
    height: 2.5px;
    background-color: #fff;
  }
  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }
  .linksTags {
    display: flex;
    flex-direction: column;
  }
  .navbar-container {
    padding: 20px 0;
    max-width: 100%;
    transition: transform 300ms ease-in-out;
    position: relative;
    z-index: 1;
  }
  .hamburger-menu:has(input:checked) + .navbar-container {
    display: block;
  }
  .tags {
    color: #1F1534;
    text-decoration: none;
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    margin: 20px 0;
  }
}
@media screen and (max-width: 600px) {
  .container {
    padding: 50px 50px;
  }
  .mainLinks {
    display: none;
  }
  .navbar {
    position: relative;
  }
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: #1abc9c;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    z-index: 2;
    position: absolute;
    top: 40px;
    right: 150px;
    right: 50px;
    top: 45px;
  }
  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    margin: 4px;
    width: 15px;
    height: 2.5px;
    background-color: #fff;
  }
  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }
  .linksTags {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar-container {
    padding: 20px 0;
    max-width: 100%;
    transition: transform 300ms ease-in-out;
    position: relative;
    z-index: 1;
  }
  .hamburger-menu:has(input:checked) + .navbar-container {
    display: block;
  }
  .tags {
    color: #1F1534;
    text-decoration: none;
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    margin: 20px 0;
  }
}
@font-face {
  font-family: "Mulish-Light";
  src: url(../fonts/static/Mulish-Light.ttf) format("woff2");
}
@font-face {
  font-family: "Mulish-Medium";
  src: url(../fonts/static/Mulish-Medium.ttf) format("woff2");
}
@font-face {
  font-family: "Mulish-Regular";
  src: url(../fonts/static/Mulish-Regular.ttf) format("woff2");
}
@font-face {
  font-family: "Mulish-Bold";
  src: url(../fonts/static/Mulish-Bold.ttf) format("woff2");
}
.mulish-light {
  font-family: "Mulish-Light", sans-serif;
}

.mulish-medium {
  font-family: "Mulish-Medium", sans-serif;
}

.mulish-regular {
  font-family: "Mulish-Regular", sans-serif;
}

.mulish-bold {
  font-family: "Mulish-Bold", sans-serif;
}

/*# sourceMappingURL=style.css.map */
