@media screen and (min-width: 992px) and (max-width: 1350px) {
    .healthImage {
        margin-top: 50px;
    }

    .card {
        &-section {
            img {
                height: 50px;
            }
        }
    }

    .searchDoctor {
        font-size: 20px;
        line-height: 36px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .container {
        padding: 50px 100px;
    }

    .mainLinks {
        display: none;
    }

    .navbar {
        position: relative;
    }

    .hamburger-menu {
        @include hamburger-menu;
    }

    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
        content: "";
        @include hamburger-menu-line;
    }

    .hamburger-menu input {
        @include hamburger-menu-input;
    }

    .linksTags {
        display: flex;
        flex-direction: column;
    }

    .navbar-container {
        @include navbar-container;
    }

    .hamburger-menu:has(input:checked)+.navbar-container {
        @include hamburger-menu-checked;
    }

    .tags {
        @include links-items-tags;
    }

    .health {
        @include flex-column;
        justify-content: center;

        .virtual {
            text-align: center;
        }

        .virtualText {
            text-align: center;
        }
    }

    .healthCare {
        width: 100%;
        @include flex-column;
    }

    .healthImage {
        width: 100%;
        margin-top: 25px;
    }

    .card {
        @include card;
        width: 48%;

        &-section {
            padding: 0px 30px;
            margin-top: 25px;

            img {
                height: 50px;
            }
        }
    }

    .searchDoctor {
        font-size: 20px;
        line-height: 36px;
    }

    .reviewPart {
        @include flex-column;

        .avatar {
            @include flex-column;
            margin-top: 20px;

            .avatar-text {
                h3 {
                    text-align: center;
                }

                p {
                    text-align: center;
                }
            }
        }

        .reviewText {
            width: 100%;

            P {
                text-align: center;
            }
        }
    }

    .card-health {
        width: 48%;
        height: 480px;

        &-section-health_image {
            height: 150px;
        }

        &-section-health {

            h3 {
                line-height: 26px;
            }
        }
    }

    .footerComponent {
        @include flex;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .container {
        padding: 50px 100px;
    }

    .mainLinks {
        display: none;
    }

    .navbar {
        position: relative;
    }

    .hamburger-menu {
        @include hamburger-menu;
    }

    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
        content: "";
        @include hamburger-menu-line;
    }

    .hamburger-menu input {
        @include hamburger-menu-input;
    }

    .linksTags {
        display: flex;
        flex-direction: column;
    }

    .navbar-container {
        @include navbar-container;
    }

    .hamburger-menu:has(input:checked)+.navbar-container {
        @include hamburger-menu-checked;
    }

    .tags {
        @include links-items-tags;
    }

    .health {
        @include flex-column;
        justify-content: center;

        .virtual {
            text-align: center;
        }

        .virtualText {
            text-align: center;
        }
    }

    .healthCare {
        width: 100%;
        @include flex-column;
    }

    .healthImage {
        width: 100%;
        margin-top: 25px;
    }

    .card {
        @include card;
        width: 48%;

        &-section {
            padding: 0px 30px;
            margin-top: 25px;

            img {
                height: 50px;
            }
        }
    }

    .searchDoctor {
        font-size: 20px;
        line-height: 36px;
    }

    .reviewPart {
        @include flex-column;

        .avatar {
            @include flex-column;
            margin-top: 20px;

            .avatar-text {
                h3 {
                    text-align: center;
                }

                p {
                    text-align: center;
                }
            }
        }

        .reviewText {
            width: 100%;

            P {
                text-align: center;
            }
        }
    }

    .card-health {
        width: 48%;
        height: 450px;

        &-section-health_image {
            height: 150px;
        }

        &-section-health {

            h3 {
                line-height: 20px;
                font-size: 18px
            }
        }
    }

    .footerComponent {
        @include flex;
        flex-wrap: wrap;
    }

    .service {
        h2 {
            text-align: center;
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 600px) {
    .container {
        padding: 50px 50px;
    }

    .mainLinks {
        display: none;
    }

    .navbar {
        position: relative;
    }

    .hamburger-menu {
        @include hamburger-menu;
        right: 50px;
        top: 45px;
    }

    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
        content: "";
        @include hamburger-menu-line;
    }

    .hamburger-menu input {
        @include hamburger-menu-input;
    }

    .linksTags {
        @include flex-column;
    }

    .navbar-container {
        @include navbar-container;
    }

    .hamburger-menu:has(input:checked)+.navbar-container {
        @include hamburger-menu-checked;
    }

    .tags {
        @include links-items-tags;
    }

    .health {
        @include flex-column;
        justify-content: center;

        .virtual {
            text-align: center;
        }

        .virtualText {
            text-align: center;
        }
    }

    .healthCare {
        width: 100%;
        @include flex-column;
    }

    .healthImage {
        width: 100%;
        margin-top: 25px;
    }

    .card {
        @include card;
        width: 100%;

        &-section {
            padding: 0px 30px;
            margin-top: 25px;

            img {
                height: 50px;
            }
        }
    }

    .searchDoctor {
        font-size: 20px;
        line-height: 36px;
    }

    .service {
        h2 {
            text-align: center;
            font-size: 22px;
        }
    }

    .reviewPart {
        @include flex-column;
        padding: 0 20px;

        .avatar {
            @include flex-column;
            margin-top: 20px;

            .avatar-text {
                h3 {
                    text-align: center;
                }

                p {
                    text-align: center;
                }
            }
        }

        .reviewText {
            width: 100%;

            P {
                text-align: center;
            }
        }
    }

    .card-health {
        width: 100%;
        height: 480px;

        &-section-health_image {
            height: 150px;
        }

        &-section-health {

            h3 {
                line-height: 26px;
            }
        }
    }

    .footerComponent {
        @include flex;
        flex-wrap: wrap;
    }
}