.container {
    padding: 50px 150px;
}

.hamburger-menu {
    display: none;
}

.navbar-container {
    display: none;
}

.navbar {
    @include flex;
}

.logo {
    cursor: pointer;
}

.links {
    @include flex;
}

.linksItems {
    margin: 0 10px;
}

.linksItemsTags {
    @include links-items-tags
}

.linksItemsTags:focus {
    font-weight: 700;
}

.health {
    @include flex;
}

.healthCare {
    width: 40%;
}

.healthImage {
    width: 60%;
}

svg {
    width: 100%;
    object-fit: cover;
}